extends ./layouts/main.pug

block content
  .menu
    ul.nav.nav-tabs
      a(href='/home')
        li.glyphicon.glyphicon-home
      a(href='/profile')
        li.glyphicon.glyphicon-user
      a(href='/twit')
        li.glyphicon.glyphicon-pencil
    .row.profile
    .col-sm-3
      each user in users
        .profile-sidebar
          .profile-userpic
            img.img-responsive(src='images/'+user.image, alt='')

          .profile-usertitle
            .profile-usertitle-name
                span= user.username



    .col-sm-6
      .row
        each cell in twits
          .form-box
            .form-top
              .form-top-left
                h3
                  span= cell.username
              .form-top-right
                  span= cell.time
            hr
            .form-bottom#tweet
              span= cell.tweet_text
    .col-sm-3
      h4 May People You Know ???
        each cell in follows
          .profile-sidebar
            .profile-userpic
              img.img-responsive(src='images/'+cell.image, alt='' width='50%' height='50%')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
            .profile-usertitle
              .profile-usertitle-name
                span= cell.username
              | &#x9;&#x9;&#x9;&#x9;&#x9;
            form(action='/follow' method='post')
              .profile-userbuttons
                input(type='hidden' name='follower' value = cell.id)
                button.btn.btn-primary.btn-sm(type='submit') Follow
        a(href='/moresuggestion') View more

  script(type='text/javascript').
    $(document).ready(function() {
     $('.modal').modal();
     $('#myModal').modal('hide');
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
    });
    $('#myModal').modal('hide');
    $('body').removeClass('modal-open');
    $('.modal-backdrop').remove();
    //- $('#myModal').modal('open');
    //- $('#myModal').modal('close');
    //- //- $('#myModal').modal({backdrop: 'static', keyboard: false});



